@import './_variables';
@import './_custom-table';
@import './_mixins';
@import './custom.scss';
.custom-form-control .custom-btn {
    border: 1px solid #EBEBEB;
    box-shadow: none;
    border-radius: 2px;
    font-size: 14px;
    transition: all 0.3s ease;
    padding: 6px 16px 7px 16px;
    color: #868686;
}

.custom-navbar .container .custom-form-control:focus {
    border-color: #C2101E;
    box-shadow: 0 0 2px #C2101E;
}

.custom-btn:hover {
    background-color: #EEF0EA;
    border: 1px solid #BcBcBc;
    color: $btn-primary-color-dark;
}

.custom-btn-primary {
    @include button-style($brand-primary);
}

.custom-btn-primary2 {
    color: #000;
    background-color: $brand-primary;
    border-color: $brand-primary;
    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active:hover {
        color: #000;
        border-color: $btn-primary-color-dark;
        background-color: $btn-primary-color-dark;
    }
}

.custom-btn-danger {
    @include button-style($brand-danger);
}